<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="https://kit.fontawesome.com/1475b9bd11.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="favicon.ico?v=1.1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>Campus Compass</title>
    </head>
    <body>
        <%- include("header") %>
        <style>
        .cont{
            margin-top:15px;
            position: relative;
            height: 50px;
          }
          .search-bar{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 25px;
            padding: 10px;
            height: 50px;
            width:80%;
            padding-right:60px;
            padding-left:20px;
          }
          .search-button{
            position:absolute;
            right:10%;
            transform: translateX(-20px);
            top:8px;
            width:32px;
            height:32px;
            border-width:0px;
            background-color:inherit;
          }
          .category{
            font-family: 'Noto Sans KR';
            text-align:center;
            line-height:50px;
            margin-left:5px;
            margin-right:5px;
            background-color:#A50005;
            color:white;
            font-size:15px;
            padding-left:2px;
            padding-right:2px;
            border-radius:15px;
            width: 20%;
            color:white !important;
            text-decoration:none;
          }
          .category_row{
            height:50px;
            margin-bottom:5px;
            margin-top:5px;
          }
          .category_container{
            margin-bottom:15px;
          }
          .main_content{
            margin-top:10px;
            margin-bottom:10px;
          }
          .menu_post{
            margin-left:20px;
            margin-right:20px;
            height:50px;
            line-height:50px;
            border-radius:15px;
            border:1px solid #A50005;
            padding-left:20px;
          }

          .menu_quest{
            margin-left:20px;
            margin-right:20px;
            height:70px;
            line-height:70px;
            border-radius:15px;
            text-align:center;
          }
          @media screen and (max-width: 992px) {
            .search-bar{
              width:90%;
            }
            .search-button{
              right:5%;
              transform: translateX(-20px);
            }
          }
          @media screen and (min-width: 993px) {
            .category_container{
              padding-left:10%;
              padding-right:10%;
              padding-top:10px;
            }
            .category{
              margin-left:15px;
              margin-right:15px;
              line-height:60px;
              font-size:20px;
            }
            .category_row{
              margin-bottom:20px;
              margin-top:20px;
              height:60px;
            }

          }
        </style>
        <form action="/search" method="get" class="cont search-form">
           <input type="text" class="search-bar border-dark" name="query">
           <i class="search-button fas fa-search fa-2x"></i>
           <input type="submit" class="search-button" value="">
        </form>

        <div class="container category_container">
          <div class="row justify-content-center category_row">
            <div class="col-2 category">
              <a href="/" class="category">휴학</a>
            </div>
            <div class="col-2 category">
              <a href="/" class="category">졸업</a>
            </div>
            <div class="col-2 category">
              <a href="/" class="category">취업</a>
            </div>
            <div class="col-2 category">
              <a href="/" class="category">학점</a>
            </div>
          </div>
          <div class="row justify-content-center category_row">
              <div class="col-2 category">
                <a href="/" class="category">봉사</a>
              </div>
              <div class="col-2 category">
                <a href="/" class="category">교환학생</a>
              </div>
              <div class="col-2 category">
                <a href="/" class="category">복수전공</a>
              </div>
              <div class="col-2 category">
                <a href="/" class="category">출결</a>
              </div>
          </div>
        </div>

        <div class="container main_content">
          <div style="position:relative;margin-bottom:20px;">
            <h3 style="color:#A50005;margin-left:20px;font-family: 'Noto Sans KR';font-weight: bold;">최근질문</h3>
            <a href="/" style="position:absolute;right:0px;transform: translateX(-20px);top:0px;"><i class="fas fa-plus fa-2x" style="color:#A50005;"></i></a>
          </div>
          <% content_new_qna.forEach(function(value){ %>
            <div class="menu_post">
              <a href="/qna-detail/<%= value.q_id %>" style="color:black !important;text-decoration:none;"><%= value.q_question %></a>
            </div>
          <% }); %>
        </div>

        <a href="/" style=" color:white !important;text-decoration:none;">
          <div class="menu_quest" style="background-color:#A50005;">질문하기</div>
        </a>
        <div class="container main_content">
          <div style="position:relative;margin-bottom:20px;">
            <h3 style="color:#A50005;margin-left:20px;font-family: 'Noto Sans KR';font-weight: bold;">FAQ</h3>
            <a href="/" style="position:absolute;right:0px;transform: translateX(-20px);top:0px;"><i class="fas fa-plus fa-2x" style="color:#A50005;"></i></a>
          </div>
          <% content_faq.forEach(function(value){ %>
            <div class="menu_post">
              <a href="/faq-detail/<%= value.f_id %>" style="color:black !important;text-decoration:none;"><%= value.f_question %></a>
            </div>
          <% }); %>
        </div>


        <div class="container main_content">
          <div style="position:relative;margin-bottom:20px;">
            <h3 style="color:#A50005;margin-left:20px;font-family: 'Noto Sans KR';font-weight: bold;">Q&A</h3>
            <a href="/" style="position:absolute;right:0px;transform: translateX(-20px);top:0px;"><i class="fas fa-plus fa-2x" style="color:#A50005;"></i></a>
          </div>
          <% content_qna.forEach(function(value){ %>
            <div class="menu_post">
              <a href="/faq-detail/<%= value.f_id %>" style="color:black !important;text-decoration:none;"><%= value.q_question %></a>
            </div>
          <% }); %>
        </div>

    </body>
</html>
