<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="favicon.ico?v=1.1">
        <title>Campus Compass</title>
    </head>
    <body>
        <br>
        Hello World
        <br>
        <% content_faq.forEach(function(value){ %>
            <a href="/faq-detail/<%= value.f_id %>"><%= value.f_question %></a>
        <% }); %>
        <br>
        Hello World
        <br>
        <% content_call_num.forEach(function(value){ %>
            <%= value.c_num %>
            <%= value.c_where %>
        <% }); %>
        <br>
        Hello World
        <br>
        <% content_qna.forEach(function(value){ %>
            <a href="/qna-detail/<%= value.q_id %>"><%= value.q_question %></a>
        <% }); %>
    </body>
</html>
