<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <script src="https://kit.fontawesome.com/1475b9bd11.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@500;700&display=swap" rel="stylesheet">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="icon" href="favicon.ico?v=1.1">
        <title>Campus Compass</title>
        <style>
          body{
            padding-top:70px;
            font-family: 'Noto Sans KR';
            font-weight: regular;
          }
        </style>
    </head>
    <body>
      <%- include("header") %>
      <style>
      .cont{
          margin-top:15px;
          position: relative;
          height: 50px;
        }
        .search-bar{
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          border-radius: 30px;
          padding: 10px;
          height: 60px;
          width:80%;
          padding-right:60px;
          padding-left:20px;
          border-color : #b8b8b8;
        }
        .search-button{
          position:absolute;
          right:10%;
          transform: translateX(-20px);
          top:14px;
          width:32px;
          height:32px;
          border-width:0px;
          background-color:inherit;
        }
        .main_content{
          margin-top:10px;
          margin-bottom:50px;
          padding-top : 10px;
          padding-left: 7%;
          padding-right: 7%;
        }
        /* .menu_post{
          height:60px;
          line-height:56px;
          border-radius:15px;
          border:1px solid #A50005;
          padding-left:20px;
          padding-right:20px;
          margin-bottom: 7px;
        } */
        h3{
          color:#A50005;margin-left:1%;
          font-family: 'Noto Sans KR';
          font-weight: regular;
          margin-top : 20px;
          margin-bottom: 20px;
        }
        .menu_post{
            display:flex;
            border: 1px solid #A50005;
            border-radius: 15px;
            padding: 15px;
            margin-top: 5px;
            justify-content: space-between;
            word-break: break-word;
        }
        .like_number{
          font-size: 15px;
        }
        @media screen and (max-width: 992px) {
          .search-bar{
            width:90%;
          }
          .search-button{
            right:5%;
            transform: translateX(-20px);
          }
        }
        @media screen and (min-width: 993px) {
          .search-bar{
            width:50%;
          }
          .search-button{
            right:25%;
          }
        
          .category_container{
            padding-left:10%;
            padding-right:10%;
            padding-top:10px;
          }
          .main_content{
            padding-left: 20%;
              padding-right: 20%;
          }
        }
      </style>
      <form action="search" method="get" class="cont search-form">
         <input type="text" class="search-bar form-control" name="query" value="">
         <i class="search-button fas fa-search fa-2x"></i>
         <input type="submit" class="search-button" value="">
      </form>

      <div class="container main_content">
        <h3>FAQ</h3>
        <% content_faq.forEach(function(value){ %>
          <a href="/faq-detail/<%= value.f_id %>"  style="color:#212529 !important;text-decoration:none;">
            <div class="menu_post">
                <%= value.f_question %>
            </div>

          </a>
        <% }); %>
        <br>
        <h3>빠른번호</h3>
        <% content_call_num.forEach(function(value){ %>
            <div class="menu_post">
                <p class="ellipsis">
                    <%= value.c_num %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= value.c_where %>
                </p>
            </div>

        <% }); %>
        <br>
        <h3>Q&A</h3>
        <% content_qna.forEach(function(value){ %>
          <a href="/qna-detail/<%= value.q_id %>" style="color:#212529 !important;text-decoration:none;">
            <div class="menu_post">
              <div style="transform:translateY(5px);"><%= value.q_question %></div>
              <span class="reply_cnt" style="min-width:40px;text-align:center;font-size:10px;">답변<br><div class="like_number"><%= value.q_ans_cnt %></div></span>
            </div>
          </a>
        <% }); %>
      </div>
        <%- include("footer") %>
    </body>
</html>
